//package.cross-nexus.com/repository/dev-cross-sdk-js:_auth=bnBtLXB1Ymxpc2g6bmV4dXMhQDM0
@to-nexus:registry=https://package.cross-nexus.com/repository/dev-cross-sdk-js
registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/
