registry=https://registry.npmjs.org/
@to-nexus:registry=https://package.cross-nexus.com/repository/dev-cross-sdk-js
//package.cross-nexus.com/repository/dev-cross-sdk-js/:_authToken=NpmToken.72fe10b8-427f-3c3a-9f01-2e63cfedbe9e
//package.cross-nexus.com/repository/dev-cross-sdk-js/:always-auth=true
