
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
# build/
profiles/
# native  # 빌드 결과물 (build/web-desktop/assets/main/native)은 Git에 포함
/native  # 루트의 native 폴더만 제외 (Cocos Creator 프로젝트 파일)
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/